@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Where logic takes a backseat, and absurdity drives—buckle up, because reality is about to get a punchline!</a>.</p>
</div>
